<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - EShopping</title>
    <link rel="icon" href="~/image/DungChung/icon.png" type="image/x-icon" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.js"></script>
    @* Font Google *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/assets/vendors/ti-icons/css/themify-icons.css">

    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Admin/assets/css/style.css">
    <!-- End layout styles -->


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />*@
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/MyStyle.css" />
    @* Phân trang *@
    <script src="./Admin/assets/js/jquery.twbsPagination.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="container-scroller">
        <!-- Header -->
        @await Component.InvokeAsync("Header", null)

        <!-- Body -->
        <div class="container-fluid page-body-wrapper p-0" style="padding-top: 70px !important;">

            <!-- Side Menu -->
            @await Component.InvokeAsync("Menu", null)

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- Footer -->
                @Html.Partial("~/Views/Shared/Admin/_FooterPartial.cshtml")
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    @* Thông báo - alert *@
    <div id="ThongBao-container" class="toast-container"></div>
    <div class="modal fade" id="confirmDialogYesNoDefault" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div id='confirmDialogYesNoContainer' class="modal-dialog modal-dialog-centered"></div>
    </div>

    <!-- container-scroller -->
    <!-- plugins:js -->
    @*<script src="~/Admin/assets/vendors/js/vendor.bundle.base.js"></script>*@
    <!-- endinject -->
    <!-- Plugin js for this page -->
    @*<script src="~/Admin/assets/vendors/chart.js/chart.umd.js"></script>
        <script src="~/Admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>*@
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    @*<script src="~/Admin/assets/js/off-canvas.js"></script>
        <script src="~/Admin/assets/js/misc.js"></script>
        <script src="~/Admin/assets/js/settings.js"></script>
        <script src="~/Admin/assets/js/todolist.js"></script>
        <script src="~/Admin/assets/js/jquery.cookie.js"></script>*@
    <!-- endinject -->
    <!-- Custom js for this page -->
    @*<script src="~/Admin/assets/js/dashboard.js"></script>*@
    <!-- End custom js for this page -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="https://malsup.github.io/jquery.blockUI.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>