@model MODELS.HETHONG.TAIKHOAN.Requests.PostLoginRequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "frmLogin" }))
{
    @if ((bool)ViewBag.IsError)
    {
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span> @ViewBag.Message </span>
        </div>
    }
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" asp-for="Username" />
        <label class="form-label" for="form2Example1">Email</label>
        <span class="text-danger" asp-validation-for="Username"></span>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" asp-for="Password" />
        <label class="form-label" for="form2Example2">Mật khẩu</label>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
        <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
        </div>

        <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
        </div>
    </div>

    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Đăng nhập</button>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="@Url.Action("Register", "TaiKhoan")">Đăng ký</a></p>
        <p>or sign up with:</p>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
        </button>
    </div>
}

<script>
    
</script>